*{
    margin: 0;
    padding: 0;
}
/*
body{
    font-size: 16px; /*控制整个页面，和下面的只能二选一控制*/
    /*
}
*/

.box{
    display: flex;/*弹性布局*/
    flex-wrap: wrap;
    align-content: center;/*上下居中*/
    width: 100%;
    height: 100vh;
    background: orange;
}

.top{
    width: 100%;
    /*
    background:blueviolet;
    */
    text-align: center;
    /*
    color: black; /*控制top下的颜色，同样只能二选一*/
    
    /*
    padding-top: 10%;/*距离顶部距离*/



}

.top img{
    width: 1100px;
    height: 800px;
    border-radius: 0%;/*圆角*/
}

.top h1{
    color:white;
    font-size: 30px;
    margin: 20px 0;
    letter-spacing: 5px;
}

.top p{
    color:white;
}

.bottom{
    width: 100%;
    margin-top: 40px;
   /*
    background: red;
    */
    
}

.box ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
    background: orange;
    margin: auto;
}

.box ul li{
    list-style: none; /*标签前面的小点*/
    width: 30%;
    padding: 80px;
    background:white;
    border:1px solid white ;
    border-radius: 5%;
    box-shadow: 2px 3px 5px gray;
}

.box ul li a{
    display: flex;
    width: 100%;
    height: 5px;
    align-content: center;
    flex-wrap: wrap;
    text-decoration: none;/*下划线*/
    color:orange;
    justify-content: center;
}

/*
.box ul li img{
    width: ;
    height: ;
}
*/

.box ul li span{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
    letter-spacing: 5px;
}


.time h3{
    color: red;
    font-size: 16px 0;
}

.date h4{
    color: red;
    font-size: 16px 0;
}

/*进校*/
.cx_box{
    display: flex;/*弹性布局*/
    flex-wrap: wrap;  
    justify-content: center;


}

.cx{
    width: 100%;
    /*
    background:blueviolet;
    */
    text-align: center;
    /*
    color: black; /*控制top下的颜色，同样只能二选一*/
    
    /*
    padding-top: 10%;/*距离顶部距离*/



}

.cx img{
    width: 370px;
    height: 358px;
    border-radius: 0%;/*圆角*/
}

.cx h1{
    color:black;
    font-size: 30px;
    margin: 20px 0;
    letter-spacing: 5px;
}

.cx p{
    color:black;
}



.cx_mune{
    width: 100%;
    margin-top: 1px;
   /*
    background: red;
    */
    
}

.cx_box ul{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    width: 90%;
    background: gray;
    margin: auto;
}

.cx_box ul li{
    list-style: none; /*标签前面的小点*/
    width: 10%;
    padding: 1px;
    background:gray;

}


.time{
    font-size: 60px;
    color: red;
}

.date{
    color:red;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

/*进校*/
.jx_box{
    display: flex;/*弹性布局*/
    flex-wrap: wrap;  
    justify-content: center;


}

.jx{
    width: 100%;
    /*
    background:blueviolet;
    */
    text-align: center;
    /*
    color: black; /*控制top下的颜色，同样只能二选一*/
    
    /*
    padding-top: 10%;/*距离顶部距离*/



}

.jx img{
    width: 370px;
    height: 358px;
    border-radius: 0%;/*圆角*/
}

.jx h1{
    color:black;
    font-size: 30px;
    margin: 20px 0;
    letter-spacing: 5px;
}

.jx p{
    color:black;
}




.jx_mune{
    width: 100%;
    margin-top: 1px;
   /*
    background: red;
    */
    
}

.jx_box ul{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    width: 90%;
    background: gray;
    margin: auto;
}

.jx_box ul li{
    list-style: none; /*标签前面的小点*/
    width: 10%;
    padding: 1px;
    background:gray;

}